.mainContainer {
  height: 100%;
  width: 100%;
  position: fixed;
}

.visualContainer {
  width : 100%;
  height: 60%;
  borderBottom: 1px solid black;
  display : inline-block;
}

.codeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40%;
  background-color: #d36242;
  border-top: solid 1px black;
  padding: 10px;
}

.codeDefinitionContainer {
  background-color: #1bd35b;
  width: 30%;
  margin-right: 10px;
  border-right: solid 1px black;
}

.codeTextEditorContainer {
  background-color: lightgrey;
  width: 70%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color: #e7e7e7;
  border-bottom: solid 1px #919191;
  padding: 1px;
  padding-top: 5px;
}

.listItem {
  border-bottom: 1px solid #919191;
  background-color: #e7e7e7;
  height: 40px;
  width: 100%;
  padding: 10px;
}

.listItem-selected {
  @extend .listItem;
  background-color: #00bcd4;
}

