.mainContainer {
  height: 100%;
  width: 100%;
  position: fixed;
}

.visualContainer {
  width : 100%;
  height: 50%;
  border-bottom: 3px solid #bbbbbb;
  display : inline-block;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #eeeeee 1px, transparent 1px), linear-gradient(to bottom, #eeeeee 1px, transparent 1px);
}

.codeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  padding: 10px;
}

.codeDefinitionContainer {
  width: 30%;
  margin-right: 10px;
  border: solid 1px #eeeeee;
  overflow: auto;
}

.codeTextEditorContainer {
  background-color: lightgrey;
  width: 70%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color: #e7e7e7;
  border-bottom: solid 1px #eeeeee;
  padding: 1px;
  padding-top: 5px;
  button{
    margin: 3px;
  }
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listItem {
  border-bottom: 1px solid rgba(0,0,0,.12);
  background-color: #ffffff;
  height: 40px;
  width: 100%;
  padding: 10px;
}


.keyValueList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.keyValueListItem {
  border-bottom: 1px solid rgba(0,0,0,.12);
  background-color: #ffffff;
  height: 40px;
  width: 100%;
  padding: 10px;
  div{
    display: inline-block;
  }
  input{
    width: 40px;
    display: inline-block;
    float: right;
  }
}

.listItem-selected {
  @extend .listItem;
  background-color: #e0e0e0;
}

.propertiesList{
    width: 100%;
    height: 100%;
}

.animate{
  transition: all 1s linear;
}

button {
  background: none;
  border: none;
  font-size: 12px;
}

button:hover{
  background-color: #bbbbbb;
}

.entryScreen {
  div{
    height: 10em;
    position: relative
  }
  .link1{
    margin: 0;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  .link2{
    margin: 0;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}