@import "palette";

body {
  background-color: $yellow;
}

.mainContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: $yellow;
}

.visualContainer {
  width: 100%;
  height: 50%;
  border-bottom: 3px solid #bbbbbb;
  display: inline-block;
  background-size: 10px 10px;
  background-image: linear-gradient(to right, $grey 1px, transparent 1px), linear-gradient(to bottom, $grey 1px, transparent 1px);
}

.visualContainerEditing{
  background-color: lighten($green, 10%);
}

.visualContainerGame{
  background-color: $green;
}

.codeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  padding: 10px;
  background-color: $yellow;
}

.codeDefinitionContainer {
  width: 30%;
  margin-right: 10px;
  border: solid 1px #eeeeee;
  overflow: auto;
  background-color: $yellow;
}

.codeTextEditorContainer {
  background-color: lightgrey;
  width: 70%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color: $orange;
  border-bottom: solid 1px $green;
  padding: 1px;
  padding-top: 5px;
  button {
    margin: 3px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $yellow;
}

.listItem {
  border-bottom: 1px solid darken($yellow, 20%);
  height: 40px;
  width: 100%;
  padding: 10px;
  background-color: $yellow;
}

.keyValueList {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $yellow;
}

.keyValueListItem {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  background-color: $yellow;
  height: 40px;
  width: 100%;
  padding: 10px;
  div {
    display: inline-block;
  }
  input {
    width: 40px;
    display: inline-block;
    float: right;
  }
}

.listItem-selected {
  @extend .listItem;
  background-color: lighten($yellow, 10%);
}

.propertiesList {
  width: 100%;
  height: 100%;
}

.animate {
  transition: all 500ms linear;
}

button {
  background: none;
  border: none;
  font-size: 12px;
}

button:hover {
  background-color: #bbbbbb;
}

.entryScreen {
  div {
    height: 10em;
    position: relative
  }
  .link1 {
    margin: 0;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  .link2 {
    margin: 0;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}